.wrapper {
  flex: 1;
  padding: 0 16rem;

  margin-top: calc((3rem * 0.5) * -1);
}

.wrapper form {
  height: 54px;

  width: 100%;
  display: flex;
  gap: 0.5rem;
}

.wrapper form input {
  height: 100%;
  flex: 1;
  background-color: var(--gray-500);

  border-radius: 8px;
  border: 0;

  padding: 0 1rem;
}

.wrapper form button[type="submit"] {
  height: 100%;
  width: fit-content;
  padding: 0 1rem;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  font-weight: bold;
  border-radius: 8px;
  border: 0;

  background-color: var(--blue-dark);
  color: var(--white);

  transition: background-color 0.1s;
}

.wrapper form button[type="submit"]:hover{
  background-color: var(--blue);
}

.container {
  margin-top: 3rem;
}

.container .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container .header div {
  display: flex;
  gap: 0.5rem;
}

.container .header div span:last-child {
  background-color: var(--gray-400);
  color: var(--gray-200);
  padding: 0 0.5rem;
  font-size: 0.75rem;
  line-height: 1.6;
  border-radius: 999px;
}

.newTask {
  color: var(--blue)
}

.completedTask {
  color: var(--purple);
}

.content {
  margin: 2rem 0;
}

@media (max-width: 768px) {
  .wrapper {
    padding: 0 2rem;
  }

  .container {
    margin-top: 1rem;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .wrapper {
    padding: 0 8rem;
  }

  .container {
    margin-top: 2rem;
  }
}
